/* Always set the map height explicitly to define the size of the div element that contains the map. */
:root {
  --width-transition: width 0.3s ease-in-out;
  --grey-background: #ececec;
}

* {
  box-sizing: border-box;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
}

.map-container {
  height: 100%;
  width: 100%;
  position: relative;
  order: -1;
}

.map {
  height: 100%;
  width: 100%;
}

.detail-container,
.marker-details-container {
  width: 0;
  height: 100%;
  background-color: var(--grey-background);
  transition: var(--width-transition);
}

.detail-container.open,
.marker-details-container.open {
  width: 30%;
}

.marker-details-form {
  width: 100%;
  padding: 10px;
  background-color: #edffd7;
}

.marker-details-form h1 {
  padding: 0;
  margin: 0;
  font-size: 20px;
  text-align: center;
}

.form-control {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

.form-control .link-container {
  width: 100%;
}

.form-control input,
.form-control .link-container input {
  width: 100%;
}

.form-control label {
  display: block;
  width: 100%;
}

.form-control.inline {
  display: inline-flex;
  justify-content: space-between;
}

.form-control.inline label {
  text-align: center;
}

.form-control:first-of-type {
  margin-top: 10px;
}

.form-control .notes-textarea {
  width: 100%;
  align-self: flex-start;
}

.marker-details-form > .button-container {
  display: flex;
  justify-content: space-between;
}

.marker-details-form > .button-container > button {
  height: 35px;
  width: 90px;
  background-color: #fff;
  border: 0;
  border-radius: 3px;
}

.link-container {
  position: relative;
}

.link-container input {
  padding-right: 23px;
}

.link-container i {
  position: absolute;
  top: 0;
  right: 0;
  background-color: lightgrey;
  padding: 4px;
  border: 1px solid #000;
  font-size: 11px;
  border-radius: 2px;
}

.horizontal-border-divider {
  height: 15px;
  width: 100%;
  position: relative;
  background: linear-gradient(
    to bottom,
    silver,
    var(--grey-background),
    white,
    var(--grey-background),
    silver
  );
}

.search-container {
  position: absolute;
  top: 10px;
  left: 182px;
  height: 40px;
  width: 400px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
  transition: var(--width-transition);
}

.marker-details-container.open ~ .map-container > .search-container {
  width: 200px;
}

.search-form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.search-form > * {
  height: 100%;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.search-form button {
  flex-basis: 8%;
  cursor: pointer;
}

.search-form i {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #fff;
}

.search-form input {
  flex-basis: 92%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-left: 8px;
}

.align-right {
  text-align: end;
}

.hidden {
  display: none;
}
